{% extends 'base.html.twig' %}

{% block body %}

    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="alert alert-success" style="text-align: center;">
            {{ flash_message }}
        </div>
    {% endfor %}

    <div class="container">
        {% for news in newsList %}
            <div class="well">
                <h3><span>{{ news.head }}</span></h3>
                <p>{{ news.body }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
