{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h3><span style="text-align: center">Gallery</span></h3>
        <div class="well">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="https://phgcdn.com/images/uploads/MLAEH/corporatemasthead/grand-hotel-excelsior_masthead.jpg">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTCX-RgLF1j3Sn84BJPwS69yVezLkqGPpfovQetfCSQPM8bdf686A">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT63-_pZ6kg5dYv-ZkUsZJb2BAgX6SW6ARwvn-2e2ich6lBgkQEYw">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTGgSMDOHygR256CRh5U6BSrxp09EpGV1PnnOLzq-3U8S6NZm60ug">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRdIHTS2egHyYSfiErPbLMoOJ8o7jPzeSyCfiqpuT7VN0uyKSjB">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQmoKHx_i_kanSlhv9j3pzZhMMCyFrJp3esrcN1exjb8TlClykl">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="https://phgcdn.com/images/uploads/MUCBH/corporatemasthead/hotel-bayerischer-hof.jpg">
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img src="http://www.smartmeetings.com/wp-content/uploads/2015/05/hotel-1000-1430880870.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
